# Dependencies
node_modules/
.pnp/
.pnp.js

# Nx Local State (SHOULD NEVER BE COMMITTED)
.nx/

# Logs
logs/
*.log
apps/*/logs/
apps/api/logs/

# Testing
coverage/

# Production outputs
build/
dist/

# Misc
.DS_Store
*.pem

# Debug logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
lerna-debug.log*

# Environment files
.env
.env.*
*.local

# Vercel
.vercel/

# TypeScript build info
*.tsbuildinfo

# Vite cache/timestamps
vite.config.*.timestamp*
vitest.config.*.timestamp*
